.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(246, 89%, 7%);
}

.timeline{
    -webkit-clip-path: polygon(0 9%, 83% 10%, 91% 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 9%, 83% 10%, 91% 0, 100% 10%, 100% 100%, 0 100%);
    width: 50%;
    padding: 10rem 5rem 1rem 5rem;
    background-image:  linear-gradient(179.89deg, rgba(9, 54, 103, 0.11) 0.01%, rgba(140, 213, 255, 0.11) 9.06%, rgba(161, 201, 242, 0.0253) 62.23%, rgba(9, 32, 79, 0) 95.34%);;
    margin-bottom: 2rem;;
}

.winnersList{

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightblue;
    padding:2rem;
}

.year {
    font-size: 3.2rem;
    font-weight: 700;
    color: white;
    padding: 2.2rem;
    flex: 1;
    color:#2CBED0;
}
.gradient{
    color:white;
}

.winnerBox{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex:1;
}

.imgbox{
    width:5rem;
    height:5rem;
    background-color: rgba(196, 196, 196, 0.35);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 1rem;
}