.mainHeading{
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color:white;
  background-color: #050222;
  text-shadow: 0px 4px 4px #153A82;
  padding:7rem 0 7rem 0;
}

.firstWord{
  color:#2CBED0;
}
.container{
  width:100%;
  background-color: hsl(246, 89%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mainContainerHigh{
  border-top: 0.4rem solid #153A82;
  margin-bottom: 1.5rem;
  width:60%;
  background: linear-gradient(180deg, rgba(21, 58, 130, 0.38) 0%, rgba(21, 58, 130, 0) 100%);
}
.mainContainerMid{
  border-top: 0.4rem solid #244D46;
  margin-bottom: 1.5rem;
  width:60%;
  background: linear-gradient(180deg, rgba(155, 237, 189, 0.24) 0%, rgba(77, 172, 116, 0) 100%);
}

.mainContainerLow{
  border-top: 0.4rem solid #CFCFCF;
  margin-bottom: 5.5rem;
  width:60%;
  background: linear-gradient(180deg, rgba(190, 190, 190, 0.79) 0%, rgba(190, 190, 190, 0) 57.97%);
}

.prepHeadingHigh{
  width:60%;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.65);
  background-color:rgba(44, 190, 208, 1);
  color: black;
  border-radius: 113px;
  -webkit-border-radius: 113px;
  -moz-border-radius: 113px;
  -ms-border-radius: 113px;
  -o-border-radius: 113px;
  padding:0.5rem 3rem 0.5rem 3rem;
  font-size: 2rem;;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.prepHeadingMid{
  width:60%;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.65);
  background-color:#7EC79C;
  color: black;
  border-radius: 113px;
  -webkit-border-radius: 113px;
  -moz-border-radius: 113px;
  -ms-border-radius: 113px;
  -o-border-radius: 113px;
  padding:0.5rem 3rem 0.5rem 3rem;
  font-size: 2rem;;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.prepHeadingLow{
  width:60%;
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.65);
  background-color:#BEBEBE;
  color: black;
  border-radius: 113px;
  -webkit-border-radius: 113px;
  -moz-border-radius: 113px;
  -ms-border-radius: 113px;
  -o-border-radius: 113px;
  padding:0.5rem 3rem 0.5rem 3rem;
  font-size: 2rem;;
  font-weight: 700;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.cardsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cardContainer{
  width: 50%;
  margin: 2rem 1rem 1rem 1rem;
  background-color: #131839;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.brandContainer{
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  height:13rem;
  background-color: #CFCFCF;
  text-align: center;
}
.logoName{
  font-size: 1.2rem;
  padding:2rem;
  font-weight: 700;
}

.content{
  color:#ebecf1;
  font-size: 1rem;
  padding:1.6rem;
}

@media screen and (max-width:800px) {

  .mainContainerHigh{
    border-top: 0.4rem solid #153A82;
    margin-bottom: 1.5rem;
    width:85%;
    background: linear-gradient(180deg, rgba(21, 58, 130, 0.38) 0%, rgba(21, 58, 130, 0) 100%);
  }
  .mainContainerMid{
    border-top: 0.4rem solid #244D46;
    margin-bottom: 1.5rem;
    width:85%;
    background: linear-gradient(180deg, rgba(155, 237, 189, 0.24) 0%, rgba(77, 172, 116, 0) 100%);
  }
  
  .mainContainerLow{
    border-top: 0.4rem solid #CFCFCF;
    margin-bottom: 5.5rem;
    width:85%;
    background: linear-gradient(180deg, rgba(190, 190, 190, 0.79) 0%, rgba(190, 190, 190, 0) 57.97%);
  }
 
  .cardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .cardContainer{
    width: 90%;
    margin: 2rem 1rem 1rem 1rem;
    background-color: #131839;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

}
