.eventHeading {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 3.5rem;
  font-weight: 500;
}

.eventHead {
  padding-top: 6rem;
  background-color: rgb(9, 1, 1);
}

.eventBody {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
