.participantsHead {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2.7rem;
  font-weight: 400;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.HomeParticipants {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}

.participantContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  padding-bottom: 4rem;
}

.participantCard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.769), rgba(0, 0, 0, 0.762));
  background-color: #ffffff;
  width: 8rem;
  height: 8rem;
  margin: 0.7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #050222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

.participantCard:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .participantContainer {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
  }

  .participantCard {
    background-color: #ffffff;
    width: 8rem;
    height: 8rem;
    margin: 0.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
