.AboutInterIIT {
  padding: 50px 0px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
  color: white;
}

.AboutInterIIT > div:nth-child(1) {
  /* background-color: rebeccapurple; */
  width: 100%;
  /* background-color: greenyellow; */
  /* background-color: white; */
}

.ChildAboutInterIIT div:nth-child(1) {
  text-align: center;
}
.ChildAboutInterIIT div:nth-child(2) {
  text-align: center;
  width: 50%;
  /* background-color: red; */
  margin: 0px auto;
  font-size: 20px;
}
.AboutInterIITlogo {
  display: block;
  margin: 10px auto;
}
@media screen and (max-width: 1350px) {
  .AboutInterIIT > div:nth-child(1) {
    width: 100%;
  }
  .AboutInterIIT > div:nth-child(2) {
    width: 100%;
  }
  .ChildAboutInterIIT div:nth-child(2) {
    width: 90%;
    /* background-color: red; */
  }
  .AboutInterIITlogo {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 150px;
  }

  .ChildAboutInterIIT div:nth-child(1) h1 {
    padding: 0px 10px;
    font-size: 2.3rem;
  }
}
