.container{
    background-color: black;
    
}

.cardContainer{
    background-color: white;
    width: 20rem;
    height:25rem;
    border-radius: 1.3rem;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    text-align: center;
}

.date{
    font-size: 13rem;
    font-weight: 700;
}

.month{
    margin-top: -2rem;
    font-size: 2.5rem;
    margin-bottom:1rem;
    font-weight: 600;
}

.eventName{
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

@media screen and (max-width:900px) {

    .cardContainer{
        background-color: white;
        width: 15rem;
        height:22rem;
        border-radius: 1.3rem;
        -webkit-border-radius: 1.3rem;
        -moz-border-radius: 1.3rem;
        -ms-border-radius: 1.3rem;
        -o-border-radius: 1.3rem;
        text-align: center;
    }

    .date{
        font-size: 11rem;
        font-weight: 600;
    }
    
    .month{
        margin-top: -2rem;
        font-size: 2rem;
        margin-bottom:1rem;
        font-weight: 600;
    }
    
    .eventName{
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        font-weight: 500;
    }
}