.background{
    background-image: url('../../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.centerContainer{
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    color: white;
    text-align: center;
}

.logo{
    width: 25rem;
    height: 25rem;
    margin: auto;
}

.text{
    margin-top: -7rem;
    font-weight: 600;
}

.subtitle{
    font-size: 2.5rem;
    font-weight: 400;
}