.cardLayout {
  width: 500px;
  background-color: red;
  border-radius: 20px;
  margin: 1.8rem;
}

.cardLayoutTop {
  padding: 10px;
  background-color: rgb(207, 207, 207);
  border-radius: 10px 10px 0px 0px;
}

.cardLayoutTop > div:nth-child(1) {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardLayoutTop > div:nth-child(2) {
  height: 100px;
  /*background-color: green;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardLayoutTop > div:nth-child(2) div {
  /* background-color: antiquewhite; */
}

.cardLayoutBottom {
  color: white;
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 2rem;
  height: 250px;
  background-color: rgb(19, 24, 57);
  border-radius: 0px 0px 10px 10px;
}
